<div class="modal-header">
  <h4>{{ title }}</h4>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Hired</th>
      <th>Approved?</th>
    </thead>
    <tbody>
      <tr ng-repeat="request in encodedRequests | orderBy:'employee.hired'">
        <td>{{ request.employee.name }}</td>
        <td>{{ request.employee.hired }}</td>
        <td><input type="checkbox" ng-model="request.approved"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" ng-click="save()">Save</button>
</div>
