<div class="groups">
  <h4 class="heading">Groups:</h4>
  <button class="btn btn-success btn-sm pull-right" ng-click="newGroup()">New group</button>
  <accordion close-others="true">
    <accordion-group heading="{{ group.name }}" is-open="isopen" ng-repeat="group in groups">
      <accordion-heading>
        <span>{{ group.name }}</span>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
      </accordion-heading>
      <div class="actions">
        <button class="btn btn-default btn-sm" ng-click="editGroup(group)">Edit group</button>
        <button class="btn btn-default btn-sm" ng-click="removeGroup(group)">Delete group</button>
        <button class="btn btn-default btn-sm pull-right">New person</button>
      </div>
      <table class="employees table">
        <tr ng-repeat="employee in group.employees">
          <td>{{ employee.name }}</td>
          <td class="actions">
            <button class="btn btn-default btn-xs">Edit</button>
            <button class="btn btn-default btn-xs">Delete</button>
          </td>
        </tr>
      </table>
    </accordion-group>
  </accordion>
</div>
