<main class="container">
  <div class="jumbotron">
    <h1>Hello</h1>
    <p>Easy vacation day tracking for cool people.</p>
    <%= link_to "Get started", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</main>
