.groups {
  width: 33%;

  .heading {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 4px;
    height: 30px;
    display: inline-block;
  }

  .actions {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;

    li {
      display: inline-block;
    }
  }

  .employees {
    list-style: none;
    padding-left: 0;
  }
}
